#about__container{
    container-type: inline-size;
    container-name: aboutContainer;
    position:  relative;
    z-index: -1;
}

#about__section{
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    font-weight: 800;
    gap: 15px;
    padding: var(--padding--sm);
    background-color: #CCFFE5;
    
}

#about__section p:last-of-type{
    font-size: large;
    font-weight: 400;
    padding-top: 30px;
}

#about__section button{
    width: fit-content;
    border-radius: 0px 50px 50px 50px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: var(--main-font);
    font-size: small;
    border: 0px;
    background-color: #343435;
    color: white;
}

#about__section div{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background-color: yellow;
    align-self: center;
}

#about__section span{
    display: flex;
    gap: 30px;
    align-items: center;
}

#about__section span a{
    text-decoration: none;
    color: #343435;
}

@container aboutContainer (width >= 768px){
    #about__section div{
        background-color: green;
    }
}