#navbar{
    display: flex;
    justify-content: space-between;
    height: 75px;
    container-type: inline-size;
    container-name: navbarContainer;
    border-bottom: 1px solid black;
    font-family: var(--main-font);
}

#navbar__links{
    position: absolute;
    right: 0px;
    top: 75px;
    flex-direction: column;
    width: 150px;
    display: none;
}

@container navbarContainer (width >= 1024px){
    #navbar__links{
        position: static;
        display: flex;
        flex-direction: row;
        min-width: fit-content;
        justify-content: center;
        align-items: center;
        margin-right: var(--padding--xl);
    }
    #navbar__hamburger{
        display: none;
    }
    #navbar__title{
        margin-left: var(--padding--xl);
    }
}

#navbar__title{
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding--sm);
}

#navbar__links a{
    text-decoration: none;
    color: black;
    padding: var(--padding--sm)
}

#navbar__links .navbar--active{
    background-color: green;
}

#navbar__hamburger{
    font-size: xx-large;
    height: auto;
    margin-right: var(--padding--sm); 
}

