#navbar{
    display: flex;
    justify-content: space-between;
    height: 45px;
    background-color: grey;
    container-type: inline-size;
    container-name: navbarContainer;
}

#navbar__links{
    position: absolute;
    right: 0px;
    top: 45px;
    flex-direction: column;
    width: 150px;
    display: none;
}

@container navbarContainer (width >= 1024px){
    #navbar__links{
        position: static;
        display: flex;
        flex-direction: row;
        min-width: fit-content;
    }
    #navbar__hamburger{
        display: none;
    }
}

#navbar__title{
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding--sm);
}

#navbar__links a{
    text-decoration: none;
    color: black;
    padding: var(--padding--sm)
}

#navbar__links .navbar--active{
    background-color: green;
}

#navbar__hamburger{
    font-size: xx-large;
    height: auto;
    margin-right: var(--padding--sm); 
}

