#project__section{
    font-family: var(--main-font);
    padding: 60px var(--padding--sm);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#project__section h1{
    font-size: large;
    font-weight: 600;
}

#project__list{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media screen and (width >= 768px) {
    #project__section{
        align-items: center;
    }
}
@media screen and (width >= 1024px) {
    #project__section{
        margin-left: var(--padding--xl);
        margin-right: var(--padding--xl);
    }
    #project__list{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}